<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" novalidate>
<mat-dialog-content>
<div class = "settings-header">
  <div class = "settings-title">
      <img class = "icon" src="favicon.ico" alt="icon">
      <h2 class="title settings">Settings</h2>
  </div>

  <button class="button xmark"><i class="fa-solid fa-xmark"></i></button>
</div>

<mat-radio-group aria-label="languages" formControlName="language">
  <h3>Languages</h3>
  <div class = "language block">
  <mat-radio-button value="eng">English</mat-radio-button>
  <mat-radio-button value="rus">Russian</mat-radio-button>
  </div>
</mat-radio-group>

<mat-radio-group aria-label="colors" formControlName="color">
  <h3>Color's pallette</h3>
  <div class = "colors block">
  <mat-radio-button *ngFor="let color of colors" [value]="color">{{color}} colors</mat-radio-button>
  </div>
</mat-radio-group>

</mat-dialog-content>
<div class="settings-button-container">
  <button mat-stroked-button  type="submit" color="accent">Submit</button>
  <button mat-stroked-button  type="button" color="accent">Default</button>
</div>
</form>
